body{
	margin:0 auto;
	font-family:Avenir;
	box-sizing: border-box;

	--rotate: rotate(-5deg);
	--skew: skew(-5deg);
	--skew-rotate: skew(-5deg) rotate(-5deg);
	--rotate-inverse: rotate(5deg);
	--skew-inverse: skew(5deg);
}

h1{
	font-size:30px;
}

h2{
	font-size:20px;
}

p{
	font-size:15px;
}

a{
	text-decoration:none;
}


#body_container{
	/*max-width:1100px;*/
	/*margin:50px auto 0 auto;*/
	overflow: hidden;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
	transform:skewY(-5deg);
}

#intro{
	width:100%;
	background-image:url('images/bg_s-compressor.jpg');
	background-size: cover;
	height:600px;
	font-family: 'Montserrat', sans-serif;
	margin-top:-80px;
	transform:skewY(5deg);
}

#intro header{
	width:calc(100% - 200px);
	margin-left:-100px;
	padding:0 200px;
	margin-top:130px;
	height:50px;
	font-weight:900;
	-ms-transform: var(--rotate); /* IE 9 */
	-webkit-transform: var(--rotate); /* Safari */
	transform: var(--rotate);
	background-color:white; /*#C73434;*/
	display:flex;
	/*border-top:5px solid #C73434;*/
}

#intro h1{
	flex:1;
	display: flex;
    align-items: center;
	white-space: pre-wrap;
	transform:var(--skew);
	font-size:22px;
}

#intro h1 span{
	/*color:#C73434;*/
}

#topbar_links{
    display: flex;
    align-items: center;
    flex:0;
}

#topbar_links a{
	font-size:18px;
	margin-left:20px;
	padding:0 20px;
	display:flex;
	align-items:center;
	white-space:nowrap;
	height:100%;
	transform: var(--skew);
	/*color:#C73434;*/
	color:black;
	cursor:pointer;
	transition:all 200ms;
}

#topbar_links a span{

	transform:var(--skew);
}

#topbar_links a:hover{
	background-color:rgba(0,0,0,0.08);
	/*color:#C73434;*/

}

#summary{
	background-color: white;
	transform:var(--skew-rotate);
	margin:200px 0 0 100px;
	padding:20px;
	max-width:400px;
	font-size:20px;
	line-height:30px;
	font-weight:800;
	/*border-top:5px solid #C73434;*/
	border-radius:3px;
	overflow: hidden;
}


#me_background{
	width:calc(100% - 200px);
	margin-left:-100px;
	padding:0 200px;
	margin-top:-100px;
	height:480px;
	font-weight:900;
	-ms-transform: var(--rotate); /* IE 9 */
	-webkit-transform: var(--rotate); /* Safari */
	transform: var(--rotate);
	background-color:white;
	border-top:5px solid #C73434;
	display:flex;
}

#me_background header{

}



#main{
	max-width:900px;
	margin:0 auto;
	margin-bottom:200px;
}

.work_container{
	margin:30px 0 40px 0;
	text-align: center;
	display:inline-block;
}

.work_container.art{
	width:calc(50% - 40px);
	margin-right:30px;
}

.work_container.product{
	width:100%;
	text-align: left;
	margin-bottom:60px;
}

.thumbnail{
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.23);
	/*width:320px;*/
	/*height:320px;*/
	width:100%;
	padding-bottom:100%;
	margin-bottom:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
	position:relative;
	background-color:#585858;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}

.thumbnail img.art{
	width:100%;
	position:absolute;
	height:100%;
	left:0; top:0;
	object-fit:cover;
}

.thumbnail img.fullscreen{
	position:absolute;
	right:10px;
	bottom:15px;
	cursor:pointer;
	width:15px;
}

.thumbnail img.mute{
	position:absolute;
	right:40px;
	bottom:15px;
	cursor:pointer;
	width:15px;
}

.mute_off{
	display:none;
}

.thumbnail video{
	display:none;
	height:100%;
	width:100%;
	object-fit:cover;
	position:absolute;
	left:0; top:0;
}

video:-webkit-full-screen {
    object-fit: contain;
}



.work_title{
	font-size:16px;
	margin-bottom:10px;
}

.work_subtitle{
	font-size:11px;
	color:#919191;
}





.profile{
	background-image:url('profile.jpg');
	background-size:cover;
	width:100px;
	height:100px;
}
.profile:hover{
	background-image:url('profile-what.jpg');
}


.section_statement{
	max-width:calc(50% - 40px);
	line-height:26px;
}







